---
import Layout from '/src/layouts/Layout.astro';
import Sidebar from '/src/components/Sidebar.astro';
---
<Layout title="Blog">
    <main id="content" class="lower">
        <div class="container">
            <header class="lower__header">
                <h1 class="lower__header__title">
                    <div class="lower__header__title-ja">ブログ</div>
                    <div class="lower__header__title-en">Blog</div>
                </h1>
            </header>
        </div>
        <div class="blog__wrapper" data-not-top>
            <div class="container">
                <div class="grid">
                    <div class="lg:col-9 lg:order-last">
                        <div class="grid gap-y-50 xl:gap-30 xl:gap-y-60">
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                            <div class="lg:col-4 sm:col-6">
                                <article class="c-card">
                                    <div class="c-card__content">
                                        <h3 class="c-card__title"><a href="/blog/single/" class="c-card__title__link">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a></h3>
                                        <div class="c-card__cat" aria-label="カテゴリー:">
                                            <a href="" class="c-card__cat__link">Staff Blog</a>
                                        </div>
                                    
                                        <time class="c-card__time" aria-label="投稿日:">2023.05.08</time>
                                        <figure class="c-card__figure" data-scroll-trigger='mask'><a href="/blog/single/" class="c-card__image__link"><img src="/assets/images/dummy.jpg" alt="" class="c-card__image"></a></figure>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="py-80">
                            <nav aria-label="Page navigation">
                                <ul class="c-pagination">
                                    <li class="c-pagination__item"><a class="previouspostslink" rel="prev" href="#">«</a></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">1</a></li>
                                    <li class="c-pagination__item"><span class="current">2</span></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">3</a></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">4</a></li>
                                    <li class="c-pagination__item"><span class="extend">...</span></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">33</a></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">333</a></li>
                                    <li class="c-pagination__item"><a class="nextpostslink" rel="next" href="#">»</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="lg:col-3 lg:order-first">
                        <Sidebar />
                    </div>
                </div>
            </div>
        </div>
        <div class="container lg:py-60 py-40">
            <nav aria-label="breadcrumb">
                <ol class="c-breadcrumb">
                    <li class="c-breadcrumb-item"><a href="/">Home</a></li>
                    <li class="c-breadcrumb-item" aria-current="page">Blog</li>
                </ol>
            </nav>
        </div>
    </main>
</Layout>