---
import Layout from '/src/layouts/Layout.astro';

---
<Layout title="送信完了">

    <main id="content" class="lower contact">
        <div class="container">
            <header class="lower__header">
                <h1 class="lower__header__title">
                    <div class="lower__header__title-ja">お問い合わせ</div>
                    <div class="lower__header__title-en">Contact</div>
                </h1>
            </header>
        </div>
        <div class="container grid lg:gap-x-35" data-not-top>
            <div class="form__wrapper">
                <div class="contact__content pb-60 md:text-center">
                    
                    <h3 class="form__complete__title">メールを送信しました。</h3>
                    <p class="mt-30">
                        テスト株式会社にお問い合わせいただき誠にありがとうございます。<br>
                        お問い合わせいただいた内容を確認し、ご返信させていただきます。<br>
                        恐れ入りますが今しばらくお待ちください。
                    </p>
                        
                    <div class="text-center mt-40 form__complete__button"><a class="button form__return-top" href="/"><span>トップページへ戻る</span></a></div>
                    
                </div>
                
            </div>
        </div>

        <div class="container lg:py-60 py-40">
            <div class="lower__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="c-breadcrumb">
                        <li class="c-breadcrumb-item"><a href="/">トップページ</a></li>
                        <li class="c-breadcrumb-item"><a href="../">お問い合わせ</a></li>
                        <li class="c-breadcrumb-item" aria-current="page">メールを送信しました。</li>
                    </ol>
                </nav>
            </div>
        </div>
    </main>
</Layout>