---
import Layout from '/src/layouts/Layout.astro';

---
<Layout title="Form" >

    <main id="content" class="lower contact">
        <div class="container">
            <header class="lower__header">
                <h1 class="lower__header__title">
                    <div class="lower__header__title-ja">お問い合わせ</div>
                    <div class="lower__header__title-en">Contact</div>
                </h1>
            </header>
        </div>
        <div class="container grid lg:gap-x-35" data-not-top>
            <div class="form__wrapper">
                <div class="contact__content pb-60">
                    
                    <h3 class="form__complete__title md:text-center">メールを送信できませんでした。</h3>
                    <div class="mt-30 text-center">
                        <p>
                            申し訳ありません。メールを送信できませんでした。<br>
                            もう一度お試しください。
                        </p>
                    </div>
                        
                    <div class="text-center mt-40 form__complete__button"><a class="button form__return-top" href="../"><span>フォームへ戻る</span></a></div>
                    
                </div>
                
            </div>
        </div>
    
        <div class="container lg:py-60 py-40">
            <div class="lower__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="c-breadcrumb">
                        <li class="c-breadcrumb-item"><a href="/">トップページ</a></li>
                        <li class="c-breadcrumb-item"><a href="../">お問い合わせ</a></li>
                        <li class="c-breadcrumb-item" aria-current="page">メールを送信できませんでした。</li>
                    </ol>
                </nav>
            </div>
        </div>
    </main>
</Layout>