---
import Layout from '/src/layouts/Layout.astro';
import Sidebar from '/src/components/Sidebar.astro';
---
<Layout title="Blog">
    <main id="content" class="lower">
        <div class="container">
            <header class="lower__header">
                <h1 class="lower__header__title">
                    <div class="lower__header__title-ja">お知らせ</div>
                    <div class="lower__header__title-en">News</div>
                </h1>
            </header>
        </div>
        <div class="blog__wrapper" data-not-top>
            <div class="container">
                <div class="grid">
                    <div class="lg:col-9 lg:order-last">
                        
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>
                        <article class="c-news-list" data-scroll-trigger="top">
                            <a href="/news/single/" class="c-news-list__link grid gap-5">
                                <time class="c-news-list__time sm:col-3 lg:col-2" datetime="" aria-label="投稿日">2023.09.29</time>
                                <h3 class="c-news-list__title sm:col-9 lg:col-10">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
                            </a>
                        </article>

                        <div class="py-80">
                            <nav aria-label="Page navigation">
                                <ul class="c-pagination">
                                    <li class="c-pagination__item"><a class="previouspostslink" rel="prev" href="#">«</a></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">1</a></li>
                                    <li class="c-pagination__item"><span class="current">2</span></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">3</a></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">4</a></li>
                                    <li class="c-pagination__item"><span class="extend">...</span></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">33</a></li>
                                    <li class="c-pagination__item"><a class="page larger" href="#">333</a></li>
                                    <li class="c-pagination__item"><a class="nextpostslink" rel="next" href="#">»</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="lg:col-3 lg:order-first">
                        <Sidebar />
                    </div>
                </div>
            </div>
        </div>
        <div class="container lg:py-60 py-40">
            <nav aria-label="breadcrumb">
                <ol class="c-breadcrumb">
                    <li class="c-breadcrumb-item"><a href="/">Home</a></li>
                    <li class="c-breadcrumb-item" aria-current="page">Blog</li>
                </ol>
            </nav>
        </div>
    </main>
</Layout>