
<div id="js-drawer" data-drawer class="modal l-drawer" aria-hidden="true" data-lenis-prevent>
    <div class="l-drawer__bg"></div>
    
    <div role="dialog" aria-modal="true" class="modal__container" data-drawer-container>
        <div class="l-drawer__wrapper">
            <header class="l-drawer__header">
                
                <div class="l-drawer__hamburger">
                    <button class="hamburger" data-hamburger aria-haspopup="true" aria-expanded="false">
                        <span class="visually-hidden">メニューを開閉する</span>
                        <div class="hamburger__container">
                            <span class="hamburger__bar" aria-hidden="true"></span>
                            <span class="hamburger__bar" aria-hidden="true"></span>
                            <span class="hamburger__bar" aria-hidden="true"></span>
                        </div>
                    </button>
                </div>
            </header>
            <div class="l-drawer__container px-30">
                <div class="l-drawer__content">
                    <div class="grid lg:cols-3 md:cols-2 gap-0 l-drawer__nav__wrapper">
                        
                        <nav class="l-drawer__nav" data-drawer-items-wrapper>
                            <ul class="l-drawer__nav__ul">
                                <li class="l-drawer__nav__list">
                                    <a href="/" class="l-drawer__nav__link" data-drawer-close data-drawer-items>
                                        <span class="l-drawer__nav__str">Home</span>
                                    </a>
                                </li>
                                <li class="l-drawer__nav__list">
                                    <a href="/about/" class="l-drawer__nav__link" data-drawer-close data-drawer-items>
                                        <span class="l-drawer__nav__str">About</span>
                                    </a>
                                </li>
                                <li class="l-drawer__nav__list">
                                    <a href="/service/" class="l-drawer__nav__link" data-drawer-close data-drawer-items>
                                        <span class="l-drawer__nav__str">Service</span>
                                    </a>
                                </li>
                                <li class="l-drawer__nav__list">
                                    <a href="/blog/" class="l-drawer__nav__link" data-drawer-close data-drawer-items>
                                        <span class="l-drawer__nav__str">Blog</span>
                                    </a>
                                </li>
                                <li class="l-drawer__nav__list">
                                    <a href="/news/" class="l-drawer__nav__link" data-drawer-close data-drawer-items>
                                        <span class="l-drawer__nav__str">News</span>
                                    </a>
                                </li>
                                <li class="l-drawer__nav__list">
                                    <a href="/contact/" class="l-drawer__nav__link" data-drawer-close data-drawer-items>
                                        <span class="l-drawer__nav__str">Contact</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>

            
           
        </div>
    </div>
</div>