---
const { namespace='page'} = Astro.props;
---

<footer class="l-footer">
    <div class="l-footer__wrapper">
        
        <div class="l-footer__content">
            
        </div>
    </div>
</footer>