
<header role="banner" class="l-header" data-header>
    <div class="l-header__wrapper">
        <h1 class="l-header__logo">
            <a href="/" class="l-header__logo__link">
                <svg role="img" aria-label="Logo" class="l-header__logo__image" width="120" height="52" viewBox="0 0 120 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <title>Logo</title>
                    <path d="M8.46324 0V30.8342H23.718V38.6734H0V0H8.46324Z" />
                    <path d="M26.1158 25.5558C26.1158 17.2985 32.1759 11.7588 40.5347 11.7588C48.8412 11.7588 54.9013 17.2985 54.9013 25.5558C54.9013 33.8131 48.8412 39.3005 40.5347 39.3005C32.1759 39.3005 26.1158 33.8131 26.1158 25.5558ZM34.2134 25.5035C34.2134 29.4754 36.7732 32.0884 40.5347 32.0884C44.2439 32.0884 46.8037 29.4754 46.8037 25.5035C46.8037 21.5839 44.2439 18.9709 40.5347 18.9709C36.7732 18.9709 34.2134 21.5839 34.2134 25.5035Z" />
                    <path d="M58.2595 25.1377C58.2595 17.194 63.4315 11.6543 70.7976 11.6543C74.3501 11.6543 77.1712 13.0131 78.5817 15.1558L78.9996 12.5427H86.5748V37.001C86.5748 46.3558 81.1938 52 72.2604 52C64.2673 52 58.8864 47.4533 58.155 40.0322H66.3048C66.4615 42.9588 68.6557 44.6834 72.2082 44.6834C76.0741 44.6834 78.5295 42.3839 78.5295 38.6734V35.2764C76.9622 37.1578 74.0366 38.3598 70.6409 38.3598C63.327 38.3598 58.2595 32.9769 58.2595 25.1377ZM66.357 24.9286C66.357 28.6915 68.8646 31.3568 72.4171 31.3568C76.0741 31.3568 78.5295 28.796 78.5295 24.9286C78.5295 21.1136 76.0741 18.6573 72.3649 18.6573C68.8124 18.6573 66.357 21.2181 66.357 24.9286Z" />
                    <path d="M91.2145 25.5558C91.2145 17.2985 97.2746 11.7588 105.633 11.7588C113.94 11.7588 120 17.2985 120 25.5558C120 33.8131 113.94 39.3005 105.633 39.3005C97.2746 39.3005 91.2145 33.8131 91.2145 25.5558ZM99.3121 25.5035C99.3121 29.4754 101.872 32.0884 105.633 32.0884C109.343 32.0884 111.902 29.4754 111.902 25.5035C111.902 21.5839 109.343 18.9709 105.633 18.9709C101.872 18.9709 99.3121 21.5839 99.3121 25.5035Z" /> 
                </svg>                                           
            </a>
        </h1>
        <nav class="l-header__gnav">
            <ul class="l-header__gnav__ul">
                <li class="l-header__gnav__list">
                    <a href="/about/" class="l-header__gnav__link" data-hover-animation>
                        <span class="l-header__gnav__str" data-hover-animation-target>About</span>
                    </a>
                </li>
                <li class="l-header__gnav__list">
                    <a href="/service/" class="l-header__gnav__link" data-hover-animation>
                        <span class="l-header__gnav__str" data-hover-animation-target>Service</span>
                    </a>
                </li>
                <li class="l-header__gnav__list">
                    <a href="/blog/" class="l-header__gnav__link" data-hover-animation>
                        <span class="l-header__gnav__str" data-hover-animation-target>Blog</span>
                    </a>
                </li>
                <li class="l-header__gnav__list">
                    <a href="/news/" class="l-header__gnav__link" data-hover-animation>
                        <span class="l-header__gnav__str" data-hover-animation-target>News</span>
                    </a>
                </li>
                <li class="l-header__gnav__list">
                    <a href="/contact/" class="l-header__gnav__link" data-hover-animation>
                        <span class="l-header__gnav__str" data-hover-animation-target>Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="l-header__hamburger">
            <button class="hamburger" data-hamburger aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">メニューを開閉する</span>
                <div class="hamburger__container">
                    <span class="hamburger__bar" aria-hidden="true"></span>
                    <span class="hamburger__bar" aria-hidden="true"></span>
                    <span class="hamburger__bar" aria-hidden="true"></span>
                </div>
            </button>
        </div>
    </div>
</header>