<div class="js-mouse-stalker" data-mouse-stalker>
    <div class="js-mouse-stalker__cursor" data-mouse-stalker-cursor></div>
    <div class="js-mouse-stalker__follower" data-mouse-stalker-follower></div>
</div>