
<div class="sidebar">
    <nav class="sidebar__nav">
        <div class="grid">
            <div class="col-12 xs:col-6 lg:col-12">
                <h3 class="sidebar__title"><a href="/blog/" class="sidebar__title__link">Blog</a></h3>
                <ul class="sidebar__ul">
                    <li class="sidebar__list">
                        <a href="/blog-cat/cat01/" class="sidebar__link">カテゴリー1</a>
                    </li>
                    <li class="sidebar__list">
                        <a href="/blog-cat/cat02/" class="sidebar__link">カテゴリー2</a>
                    </li>
                </ul>
                <h3 class="sidebar__title"><a href="/news/" class="sidebar__title__link">News</a></h3>
                      
            </div>
        </div>
    </nav>
    <h3 class="sidebar__title ">Archive</h3>
    <select class="sidebar__archive" data-archive-select>
        <option value="">アーカイブを選択</option>
        <option value="/news/">aaa</option>
        <option value="https://google.com">aaa</option>
    </select>
</div>